/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

/* Main Container */
.confirm-order__page {
  padding: 40px 0;
}

.confirm-order__container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

/* Header */
.confirm-order__container-heading{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #000000;
}

/* Order Details Section */
.confirm-order__details {
  display: flex;
  justify-content: space-between;
}

.address-details,
.order-summary {
  width: 48%;
}

.address-details {
  padding: 20px;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.address-details h3 {
  margin-bottom: 20px;    
  font-size: 1.2rem;
  color: #007bff;
}

.address-details p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.order-summary {
  padding: 20px;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-summary h3 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #007bff;
}

.product-summary {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.product-summary img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
}

.product-summary h4 {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #333;
}

.product-summary p {
  margin-bottom: 5px;
  color: #777;
}

h2 {
  
  margin-top: 20px;
  font-size: 1.5rem;
  color: #000000;
}

/* Buttons */
.order-actions {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn {
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.go-to-bag {
  background-color: #28a745;
}

.go-to-bag:hover {
  background-color: #a7bc2d;
}

.go-to-home {
  background-color: #dc3545;
}

.go-to-home:hover {
  background-color: #a7bc2d;
}

/* Error or Loading */
.confirm-order__page p {
  color: #000000;
  
  font-size: 1rem;
  font-weight: bold;
}



