src/FAQs.css
.faq-section {
  padding: 2.5rem 1rem;

  margin-top: 5rem;
}

.faq-heading {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}

.faq-container {
  margin-top: 1.5rem;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.faq-item {
  margin-bottom: 1rem;
  border-bottom: 1px solid #4a4a4a;
}

.faq-question-button {
  width: 100%;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
  outline: none;
}

.faq-answer {
  color:rgb(24, 24, 24);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
